main > h1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

main > div {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: sans-serif;
}

main > #inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-family: sans-serif;
    margin: 1rem;
    padding: 1rem;
}